* {
    font-family: 'Varela Round', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: linear-gradient(#0295A9, #12ADC1);
    color: #FFFFFF;
    height: 100vh;
}
.datetime {
    display: flex;
    justify-content: flex-end;
    padding-top: 2vh;
    padding-right: 5vh;
}
.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FDD037;
    margin: 20vh auto;
    padding: 1em;
    border: 1px solid #3A3B3C;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
}
.search {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
.search-icon {
    margin: 0.5em;
    border: none;
    outline: none;
    cursor: pointer;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #FDD037;
    color: #FFFFFF;
    transition: 1s ease-in-out;
}
.search-icon:hover {
    background-color: #FFFFFF;
    color: #3A3B3C;
    border: 1px solid #3A3B3C;
}
.fas {
    font-size:  125%;
}
.search-bar {
    border: none;
    border-radius: 25px;
    padding: 0.75em 1em;
    outline: none;
    color: #3A3B3C;
    background-color: #FFFFFF;
    font-size: 100%;
    font-weight: bold;
    font-family: 'Varela Round', sans-serif;
    width: calc(100% - 100px);
}
.search-bar:focus {
    border: 1px solid #3A3B3C;
}
.weather {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}
.data1 {
    width: 70%;
    padding: 0.5em 1em;
}
.data2 {
    width: 30%;
    padding: 0.5em 1em;
}
