// Color palette for dark theme 
$dark-background-color: #222831;
$dark-font-color: #EEEEEE;
$dark-primary-color: #00ADB5;
$dark-secondary-color: #393E46;

// Color palette for light theme

$light-background-color: #FCDEC0;
$light-font-color: #7D5A50;
$light-primary-color: #B4846C;
$light-secondary-color: #E5B299;

// Gradient color

$gradient-love: #200122;
$gradient-liberty: #6F0000;
$linear-gradient: linear-gradient(90deg, $gradient-love, $gradient-liberty);